@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria:#010710;
    --cor-textos: white;
    --cor-textos-destaque: #FF6500;
    --cor-hover: #1c1f22; 

    --fonte-primária: "Krona One", sans-serif;
    --fonte-textos: "Montserrat", sans-serif;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    vertical-align: baseline;
}

html,body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-primaria);
    box-sizing: border-box;
    color: var(--cor-textos);    
}

main{
    flex:1;
}

.cabecalho {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding: 2% 0% 0% 10%;    
}

.cabecalho__navbar{
    margin-left:5%;
}

.cabecalho__menu {
    display: flex; 
    gap: 80px;
    overflow-wrap: break-word;
}

#cabecalho__projetos{
    color: var(--cor-textos-destaque);
}

.cabecalho__menu__link {
    font-family: var(--fonte-textos);
    font-weight: 600;
    font-size: 2rem;
    color: var(--cor-textos);
    text-decoration: none;
}

.apresentacao {
    padding: 5% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 80px;       
}

.projetos {
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
}

.projetos__titulo{
    font-family: var(--fonte-primária);
    font-size: 3.25rem;    
    font-weight: 600;
    font-style: normal;
    padding-left:0.5%;   
}

.projetos__projeto{
    display: flex;
    margin-top:4rem;
}

.projetos__projeto2{
    display: flex;
    flex-direction: row-reverse;
    margin-top:4rem;    
}

.projetos__projeto__imagem{
    width: 60%;
}

.projetos__projeto__descricao{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;   
    padding: 0 0 0 40px;
    gap: 40px;
}

.projetos__projeto__descricao2{
    display: flex;
    flex-direction: column;
    justify-content:center; 
    align-items: flex-end;  
    padding: 0 40px 0 0px;
    gap: 40px;
    text-align: right;
}

.projetos__projeto__descricao__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-primária);
    font-weight: 600;
    font-style: normal;    
}

.projetos__projeto__descricao__texto{
    font-size: 1.25rem;
    font-family: var(--fonte-textos);
    font-weight: 400;
    font-style: normal;    
}

.projetos__projeto__descricao__link{
    text-decoration: none;
    font-family: var(--fonte-textos);
    font-size: 26px;
    color: var(--cor-textos);
    border: 2px solid var(--cor-textos-destaque);
    border-radius: 2rem;
    text-align: center;
    padding: 1rem 1rem;
}

.projetos__projeto__descricao__link:hover{
    transform: scale(1.07);
    transition: ease-in-out .2s;
}

.apresentacao__conteudo {
    width: 60%;    
    display: flex;
    flex-direction: column;
    gap: 40px;

   
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primária);
    font-weight: 400;
    font-style: normal;    
}

.titulo-destaque {
    color: var(--cor-textos-destaque);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-textos);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.apresentacao__conteudo__imagem{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.apresentacao__conteudo__imagem__img{        
    width: 80%; 
    border-radius: 1.5rem;
    border-color: var(--cor-textos-destaque);   
}

.apresentacao__conteudo__links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center; 
    gap:32px;
    margin-top: 50px;
}   

.apresentacao__conteudo__links__subtitulo {
    font-size: 1.5rem;
    font-family: var(--fonte-primária);
    font-weight: 400;
    font-style: normal;
    overflow-wrap: break-word;
}

.apresentacao__conteudo__links__navegacao {
    display: flex;
    width: 35%;
    text-align: center;
    border-radius: 16px;
    font-size: 1.5rem;
    padding: 21px 0px;
    text-decoration: none;
    color: var(--cor-textos);
    font-family: var(--fonte-textos);
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    border: 3px inset  var(--cor-textos-destaque);
    justify-content: center;
    gap: 16px;
    overflow-wrap: break-word;
}

.apresentacao__conteudo__links__navegacao:hover {
    transform: scale(1.07);
    transition: ease-in-out .2s;
}

.apresentacao__conteudo__skills{
    display: flex;
    justify-content: center;
    align-items: center; 
    gap:32px;
}

.apresentacao__conteudo__skills_titulo{
    text-align: center;
    margin-top: 50px;
}

.apresentacao__conteudo__skills__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    overflow-wrap: break-word;
}

.apresentacao__conteudo__skills__item:hover{
    transform: scale(1.07);
    transition: ease-in-out .2s;
}

.apresentacao__conteudo__skills__item__img{
    max-width: 100%;
}

.rodape {
    padding: 10px;
    color: #acaaa9;
    background-color: #040c16;
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--fonte-textos);
    font-weight: 400;
    overflow-wrap: break-word;
}

.rodape__link:hover{
    color: white;
    font-size: 1.6rem;
    font-weight: 600;
}

.hover-underline {
  position: relative;
  display: inline-block;
}

.hover-underline::after,
.hover-underline::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #ff7700, #ff0000);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

.hover-underline::before {
  top: -5px;
  transform-origin: left;
}

.hover-underline:hover::after,
.hover-underline:hover::before {
  transform: scaleX(1);
}

.holographic-card {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  transition: all 0.5s ease;
}

.holographic-card h2 {
  color: #0ff;
  font-size: 2rem;
  position: relative;
  z-index: 2;
}

.holographic-card::before {
  content: '';
  background: linear-gradient(
    0deg, 
    transparent, 
    transparent 30%, 
    rgba(0,255,255,0.3)
  );
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}

.holographic-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0,255,255,0.5);
}

.holographic-card:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}

.rodape__link{
    color: var(--cor-textos-destaque);
    text-decoration: none;
}



@media (max-width: 1600px) {
    .cabecalho {
        padding: 10%;
    }
    
    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao {        
        flex-direction: column-reverse;
        padding: 5%;    
    }
    
    .apresentacao__conteudo{
        width: 100%;
    }

    .apresentacao__conteudo__imagem{
        max-width: 100%;
    }
    
}

@media (max-width: 1042px) {
    .cabecalho {
        display: flex;
        flex-direction: column;
    }

    .cabecalho__navbar {
        margin: 0;
    }

    .cabecalho__menu {
        display: flex;        
        justify-content: center;
        align-items: center;        
        gap: 20px;
        margin: 30px 0;
        flex-flow: row wrap;
        
    }

    .cabecalho__menu__link {
        padding: 2rem;
        font-size: 2rem;
    }

    .projetos__titulo{
        text-align: center;
    }

    .projetos__projeto{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .projetos__projeto2{
        flex-direction: column;  
        align-items: center; 
        justify-content: center;      
    }

    .projetos__projeto__descricao{
        align-items: center; 
        padding: 0;  
        margin-top: 2rem;
        max-width: 100%;  
        text-align: center;
    }

    .projetos__projeto__descricao2{
        align-items: center; 
        padding: 0;
        max-width: 100%;
        margin-top: 2rem;
        text-align: center;
    }
}

@media (max-width: 680px) {
    .apresentacao__conteudo__links__navegacao{
        width: 60%;
        max-width: 100%;
    }

    .apresentacao__conteudo__imagem {
        width: 100%;
    }

    .cabecalho__menu {
        display: flex;        
        align-items: center;
        overflow-wrap: break-word;
        flex-flow: row wrap
    }

    .cabecalho__menu__link {
        padding: 0.5rem;
        font-size: 1.5rem;
    }

    .apresentacao__conteudo__skills{  
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-flow: row wrap;
    }

    .apresentacao__conteudo__skills__item{
        max-width: 25%;
    }
    
}

@media (max-width: 400px) {   
    .cabecalho__menu {
        overflow-wrap: break-word;
    }

    .cabecalho__menu__link{
        overflow-wrap: break-word;
        font-size: 1rem;
    }

    .cabecalho{
        max-width: 100%;
    }

    .cabecalho__logo{
        max-width: 100%;
    }
    .apresentacao__conteudo{
        overflow-wrap: break-word;
    }

    .apresentacao__conteudo__imagem {
        width: 100%;
    }

    .apresentacao__conteudo__titulo{
        font-size: 1.5rem;
    }

    .apresentacao__conteudo__texto{
        font-size: 1rem;
    }

    .apresentacao__conteudo__links{
        display: flex;
    }

    .apresentacao__conteudo__links__subtitulo{
        overflow-wrap: break-word;
        font-size: 1rem;
    }

    .apresentacao__conteudo__links__navegacao{
        font-size: 1rem;
        align-items: center;        
        justify-content: center;        
        overflow-wrap: break-word;
        padding: 1rem 1rem;
        width: 70%;
    }

    .apresentacao__conteudo__skills__item{
        max-width: 25%;
    }

    .projetos{
        word-break: break-all;
    }

    .projetos__titulo{
        font-size: 1.5rem;
        overflow-wrap: break-word;
    }

    .projetos__projeto__imagem{
        width: 100%;
    }

    .projetos__projeto__descricao__titulo{
        font-size: 1.0rem;
        overflow-wrap: break-word;
    }

    .projetos__projeto__descricao__texto{
        font-size: 0.8rem;
        overflow-wrap: break-word;
    }

    .projetos__projeto__descricao__link{
        font-size: 0.6rem;
        overflow-wrap: break-word;
    }

    .rodape p {
        font-size: 0.5rem;
    }
}